html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/background1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    color: #222831;
}

.container {
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column; 
}

header {
    background-color: #DFD0B8;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

.Converter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DFD0B8;   
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #222831;
}

.UserInput {
    display: flex;
    flex-direction: column;
    background-color: #948979;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #222831;
    margin-right: 40px;
}

.line {
    margin-bottom: 10px;
}

input[type="button"] {
    width: 60px;
    height: 60px;
    font-size: 18px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #393E46;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #fff;
    color: #393E46;
}

.Result {
    display: flex;
    flex-direction: column;
    background-color: #948979;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #222831;
    margin-left: 40px;
}

input[type="text"] {
    width: 250px;
    height: 40px;
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f0f0f0;
}

input[type="text"]:disabled {
    background-color: #ccc;
}

.unit {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #333;
}

.submit-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #DFD0B8;
    color: #222831;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #222831;
    color: #DFD0B8;
}

button:focus, input:focus {
    outline: none;
}